.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 20px;
    background-color: #2196f3;
    padding: 10px;
}
.grid-container div{
    background-color: aqua;
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;

}
.item-8{
    grid-area: 1 / 2 / 5 / 6;
}